<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="觅鱼">
<meta name="description" content="更懂你的实时优惠播报站-让优惠触手可及">
<title>觅鱼 | 更懂你的实时优惠播报站-让优惠触手可及</title>
<link rel="dns-prefetch" href="https://guanjia.qq.com/">
<link rel="stylesheet" href="/public/static/image/base.css">
<link rel="stylesheet" href="/public/static/image/item.css">
</head>
<body>
	<div class="container">
		<!--[if lte IE 7 ]>
    <div id="J_BrowserUpdate" class="browser-update">
    </div>
    <![endif]-->
		{include file="../../public/header" /} 
		<div class="main" id="D-main">
			<div class="d-top">
				<div class="d-top-container">
					<div class="d-top-layer">
						<div class="crumbs-items pull-left" id="M-crumbs">
							<a class="crumbs-item crumbs-item-0"
								href="https://miyu.qq.com/?ADTAG="><span>当前位置：</span><span
								class="crumbs-item-title">全部推荐</span></a> <a
								class="crumbs-item crumbs-item-1"
								href="https://miyu.qq.com/assets/god.html?cat=3&amp;ADTAG="
								target="_blank">&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span
								class="crumbs-item-title">手机数码</span></a> <a
								class="crumbs-item crumbs-item-2"
								href="https://miyu.qq.com/assets/god.html?cat=3,3004&amp;ADTAG="
								target="_blank">&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span
								class="crumbs-item-title">数码配件</span></a> <a
								class="crumbs-item crumbs-item-3"
								href="https://miyu.qq.com/assets/god.html?cat=3,3004,3004007&amp;ADTAG="
								target="_blank">&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span
								class="crumbs-item-title">保护壳/套</span></a>
						</div>
						<div class="d-top-layer-property pull-right">
							<span class="mr-20">来源：京东</span> <span class="mr-20">4小时前</span>
							<span>浏览1次</span>
						</div>
					</div>
					<div class="d-top-content">
						<div class="d-top-content-left">
							<div class="d-large-thumbnail">
								<img src="/public/static/image/58b44c14N1eecae25.jpg">
							</div>

						</div>
						<div class="d-top-content-right">
							<div class="d-goods-title" _hover-ignore="1">锐舞
								iPhone7手机壳苹果7Plus保护套磨砂男女薄防摔全包硬壳 透澈明-全包/轻薄-苹果7专用</div>
							<div class="d-goods-price">
								<span
									class="item-promotion-orgprice d-goods-price-origin mr-10 nowprice">现价:29.9元</span>
								<span class=" d-goods-price-now mr-10 sold">已售:1999件</span>
								<!-- <span
									class="item-promotion-discount d-goods-price-discount mr-10"
									style="margin-right: 0px;">3.5折</span> <span
									style="color: #999; vertical-align: bottom;">(与上次价格相比)</span> -->
							</div>


							<div class="d-goods-price">
								<span class=" d-goods-price-now mr-10 sold">已售:1999件</span>
							</div>
							<div class="d-goods-price">
								<span class=" d-goods-price-now mr-10 sold">共:1999优惠券</span> <span
									class=" d-goods-price-now mr-10 sold">已领取 400</span>
							</div>
							<div class="d-goods-price">
								<span class="d-goods-price-now mr-10 sold">来源:淘宝</span>
							</div>
							<div class="d-goods-price">
								<span class="item-promotion-thisprice d-goods-price-now mr-10">券后价:65元</span>
								<div class="coupon-amount-icon p-top">
									<div class="icon-left">券</div>
									<span>5元</span>
								</div>

							</div>

							<a class="d-goods-redirect-link"
								href="https://item.jd.com/10659967038.html#crumb-wrap"
								target="_blank" isconvert="1"
								onclick="_hmt.push(['_trackEvent', 'item_item_direct', 'shop', 'item']);">领取内部优惠券</a>
							<a class="d-goods-redirect-link-2"
								href="https://item.jd.com/10659967038.html#crumb-wrap"
								target="_blank" isconvert="1"
								onclick="_hmt.push(['_trackEvent', 'item_item_direct', 'shop', 'item']);">直达商品链接</a>

							<div class="statement">
								<p style="color: #999;">声明：商品的价格与折扣仅供参考，信息可能根据时间变化，商家调整而过期。敬请理解</p>
							</div>

						</div>
						<div class="fnClear"></div>
					</div>

				</div>
			</div>
			<div class="d-bottom">
				<div class="d-bottom-left">
					<div
						class="d-recommend-reason today-section-top-color color-bg-white">
						<div class="d-recommend-reason-title border-bottom-e5">
							<div class="section-title pull-left">推荐理由</div>
							<div class="clearfix"></div>
						</div>
						<div class="d-recommend-reason-content">
							<div class="line1">只要9.9元超划算，还可参加""，大家觉得【手感很好】【和手机很搭】【材质不错】，最近买家说：好东西必须好评。颜色很正，跟红色版几乎差不多。手感很好，轻薄，媲美裸机手感。孔位精确。还送的有钢化膜。必须好评。</div>
							<div class="line2">
								该商品共9607个评价， 好评率：99%， 其中好评9549， 中评42， 差评16 <span
									class="line-href"><a
									href="https://item.jd.com/10659967038.html#crumb-wrap#comment"
									target="_blank" isconvert="1">查看全部&gt;</a></span>
							</div>
						</div>
					</div>
					<div
						class="d-comment color-bg-white mt-15 featurenums-section-top-color">
						<div class="d-comment-title border-bottom-e5">
							<div class="section-title pull-left">图文评价</div>
							<a class="section-more pull-right"
								href="https://item.jd.com/10659967038.html#crumb-wrap#comment"
								target="_blank" isconvert="1">更多评价&gt;</a>
							<div class="clearfix"></div>
						</div>
						<div class="d-comment-items">
							<div class="d-comment-item">
								<div class="d-comment-item-top">
									<div class="d-comment-nickname pull-left">jd_卜经意间</div>
									<div class="d-comment-time pull-left">2017-08-29 17:37:57</div>
								</div>
								<div class="d-comment-content">上午下的单下午就送到了，物流超快，安装上去，手感不错，下次接着光顾</div>
								<div class="d-comment-pictures">
									<ul class="d-comment-pictures-items">
										<li class="active"><img
											src="/public/static/image/59a535f5N71fa4d8c_002.jpg"
											large-src="//img30.360buyimg.com/n1/s760x500_jfs/t8131/14/293637043/271876/b31063ca/59a535f5N71fa4d8c.jpg">
											<div class="d-comment-pictures-items-arrow-down"></div></li>
										<div class="fnClear"></div>
									</ul>
									<div class="d-comment-picture-large">
										<div class="d-comment-picture-large-container1">
											<div class="d-comment-picture-large-container2">
												<img src="/public/static/image/59a535f5N71fa4d8c.jpg">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-bottom-right">
					<div class="feature-sidebar">
						<div class="feature-hot temai-section-top-color mb-20">
							<div class="feature-hot-title font-title-16 pl-10">热门推荐</div>
							<ul class="feature-hot-items" id="D-temai">
							</ul>
						</div>
						<div class="feedback-section feedback-section-top-color"
							id="M-feedback">
							<div class="feedback-p1">问题反馈QQ群：529334319</div>
							<a class="feedback-p2" target="_blank"
								href="https://shang.qq.com/wpa/qunwpa?idkey=820ecd80532576e4e0e4ba4a2d3caf260f0c2272402d07a35dd042c413d296bd"
								_hover-ignore="1">加入反馈</a>
						</div>
					</div>
				</div>
				<div class="fnClear"></div>
			</div>
		</div>
	</div>
	{include file="../../public/footer" /} 


</body>
</html>