<!DOCTYPE html>
<html lang="zh-CN">
<head>
<script charset="utf-8" async="" src="/public/static/image/tkapi.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="觅鱼">
<meta name="description" content="更懂你的实时优惠播报站-让优惠触手可及">
<title>{$keyWord}_{$subtitle}</title>
<link rel="dns-prefetch" href="https://guanjia.qq.com/">
<link rel="stylesheet" href="/public/static/image/base-f3f5423bb4.css">
<link rel="stylesheet" href="/public/static/image/result-e07e67d7fc.css">
</head>
<body>
	<div class="container">
		<!--[if lte IE 7 ]>
    <div id="J_BrowserUpdate" class="browser-update">
    </div>
    <![endif]-->
		{include file="../../public/header" /} {include
		file="../../public/navigation_list_goods" /}
		<div class="result-section">
			<div class="main mt-15">
				<div class="result-tab-container" id="R-result-content">
					<div class="result-tab-content active" tab="1" id="R-god">
						<div class="result-tab-pane">
							<div class="feature-items">

								<div class="feature-items-header"
									style="position: relative; top: auto; z-index: 1;">
									<div class="feature-items-td" index="0">商品</div>
									<div class="feature-items-td" index="1">&nbsp;</div>
									<div class="feature-items-td" index="2">券后价</div>
									<div class="feature-items-td" index="3">优惠券</div>
									<div class="feature-items-td" index="4">原价</div>
									<div class="feature-items-td" index="5">地址</div>
								</div>
								{foreach $list as $vo}

								<div class="feature-items-tr">
									<div class="feature-items-td" index="0">
										<a target="_blank"
											href="https://item.jd.com/11130736810.html?jd_pop=a91433b1-5e43-411d-bb6b-4a92728996c8#crumb-wrap"
											data-hottag="mmm.result.info.723615" isconvert="1"
											onclick="_hmt.push(['_trackEvent', 'result_item_img', 'shop', 'result']);"><img
											src="{$vo.pictUrl}" class="size-110" style="margin: 11px;"></a>

									</div>
									<div class="feature-items-td" index="1">
										<div class="item_title">
											<a class="item_cat"
												href="https://miyu.qq.com/assets/god.html?cat=3"
												target="_blank" data-hottag="mmm.discount.info.49520"
												onclick="">{$keyWord}</a> <a target="_blank"
												href="https://item.jd.com/11130736810.html?jd_pop=a91433b1-5e43-411d-bb6b-4a92728996c8#crumb-wrap"
												data-hottag="mmm.result.info.723615" isconvert="1"
												onclick="" title="{$vo.title}">{$vo.title} </a>
										</div>
										<div class="item-col2-bottom">
											<div class="item-time pull-left" style="color: #666;">2017-08-25</div>
											<div class="item-split pull-left"></div>

											<a class="item-from-source pull-left"
												href="https://item.jd.com/11130736810.html?jd_pop=a91433b1-5e43-411d-bb6b-4a92728996c8#crumb-wrap"
												target="_blank" data-hottag="mmm.result.info.723615"
												onclick="">京东</a>


										</div>
									</div>
									<div class="feature-items-td" index="2">4899元</div>
									<div class="feature-items-td" index="3">

										<span class="td-discount">7折</span>

									</div>
									<div class="feature-items-td" index="4">6999元</div>
									<div class="feature-items-td" index="5">
										<div class="feature-items-td5-container">
											<span class="inline-block">4899元</span>
											<div class="trend-icon item-price-trend inline-block"
												link="https://item.jd.com/11130736810.html?jd_pop=a91433b1-5e43-411d-bb6b-4a92728996c8#crumb-wrap"
												val="-1">
												<div class="item-price-trend-area">
													<div class="item-price-trend-canvas"
														id="M-price-trend-canvas-39"></div>
													<div class="item-price-history-lowest">
														历史最低价:<span class="item-price-history-lowest-text"></span><span
															class="item-price-history-lowest-unit">元</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{/foreach}

							</div>
							<div class="pagination-cont">
								<ul class="pagination" id="R-pagination">
									<li class="prev"><a href="#">&lt;</a></li>
									<li class="page"><a href="#">1</a></li>
									<li class="page active"><a href="#">2</a></li>
									<li class="page"><a href="#">3</a></li>
									<li class="page"><a href="#">4</a></li>
									<li class="page"><a href="#">5</a></li>
									<li class="page"><a href="#">...</a></li>
									<li class="page"><a href="#">41</a></li>
									<li class="next"><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
						<div class="feature-sidebar">
							<div class="feature-hot temai-section-top-color mb-20">
								<div class="feature-hot-title font-title-16 pl-10">热门推荐</div>
								<ul class="feature-hot-items" id="M-temai"></ul>
							</div>
						</div>
						<div class="fnClear"></div>
					</div>
					<div class="result-tab-content" tab="2" id="R-cbg">
						<div class="result-tab-pane">
							<div class="feature-items"></div>
						</div>
					</div>
					<div class="fnClear"></div>
				</div>
			</div>
		</div>
	</div>
	{include file="../../public/footer" /}
	<ul class="sidebar">
		<li class="item gotop"><a id="gotop_btn" title="置顶"
			_hover-ignore="1"></a></li>
	</ul>

</body>
</html>