@charset "utf-8";

.d-large-thumbnail img, img {
    max-width: 100%;
    max-height: 100%
}

.d-comment, .d-recommend-reason, .d-top-container {
    padding: 0 20px 0px
}

#D-main {
    margin-top: 10px;
}

.d-top {
    height: auto;;
    background-color: #fff;
    position: relative;
    z-index: 2
}

.d-top-layer {
    overflow: hidden;
    border-bottom: 1px dashed #dfdada;
    margin-bottom: 22px;
    line-height: 44px
}

.d-large-thumbnail, .d-small-thumbnail li {
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    text-align: center
}

.d-top-layer-property {
    color: #999
}

.d-top-content-left {
    width: 320px;
    float: left
}

.d-large-thumbnail {
    height: 320px
}

.d-small-thumbnail {
    overflow: hidden;
    width: 320px;
    height: 74px;
    margin-top: 8px;
    position: relative
}

.d-small-thumbnail-ul {
    width: 330px;
    height: 100%
}

.d-small-thumbnail li {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 8px;
    cursor: pointer;
    line-height: 72px
}

.d-thumbnail-btn {
    position: absolute;
    line-height: 74px;
    width: 26px;
    background-color: #e3dede;
    text-align: center;
    font-size: 24px;
    top: 0;
    cursor: pointer;
    color: #908e8e;
    display: none
}

.d-thumbnail-prev-btn {
    left: 0
}

.d-thumbnail-next-btn {
    right: 0
}

.d-top-content-right {
    float: left;
    width: 850px;
    margin-left: 20px;
    position: relative;
    height: 320px
}

.d-goods-price-trend, .d-goods-price-trend .item-price-trend-canvas {
    width: 100%;
    height: 210px
}

.d-goods-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 24px
}

.d-goods-price {
    margin: 20px 0
}

.d-goods-price-now, .d-goods-price-origin {
    margin-right: 10px
}



.d-goods-price-trend {
    position: relative
}

.d-goods-price-trend .item-price-history-lowest {
    top: 13px
}

.d-goods-redirect-link {
    width: 156px;
    height: 40px;
    line-height: 40px;
    background-color: #ff4958;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    display: block
}

.d-goods-redirect-link-2 {
    width: 136px;
    height: 40px;
    margin-left: 196px;
    line-height: 40px;
    background-color: #ff4958;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    display: block
}

.d-goods-redirect-link:hover {
    background-color: #F31A48
}

.d-goods-redirect-link-2:hover {
    background-color: #F31A48
}

.d-goods-tags {
    color: #999;
    position: absolute;
    left: 0;
    margin-top: 50px;
}

.statement {
    color: #999;
    position: absolute;
    left: 0;
    bottom: 0;
}

.goods-tags-item {
    margin-right: 5px;
    text-decoration: underline !important
}

.goods-tags-item:hover {
    color: #333
}

.d-bottom {
    margin-top: 10px;
    margin-bottom: 10px
}

.d-bottom-left {
    float: left;
    width: 900px
}

.d-recommend-reason-content {
    color: #333;
    font-size: 16px;
    line-height: 20px;
    margin: 20px auto 10px
}

.d-recommend-reason-content .line2 {
    margin-top: 25px
}

.line-href {
    text-decoration: underline;
    color: #999
}

.d-comment-item-top {
    overflow: hidden;
    color: #999;
    margin-top: 16px;
    margin-bottom: 12px
}

.d-comment-content {
    line-height: 20px
}

.d-comment-nickname {
    margin-right: 20px
}

.d-comment-pictures {
    margin-top: 13px
}

.d-comment-pictures-items {
    height: 60px
}

.d-comment-pictures-items li {
    float: left;
    cursor: pointer;
    background-color: #e5e5e5;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    position: relative
}

.d-comment-pictures-items li img {
    margin: 3px;
    width: 54px;
    height: 54px
}

.d-comment-pictures-items-arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #e5e5e5;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -3px;
    display: none
}

.d-comment-pictures-items li.active .d-comment-pictures-items-arrow-down {
    display: block
}

.d-comment-picture-large {
    margin-top: 13px;
    overflow: hidden
}

.d-comment-picture-large-container1 {
    padding: 5px;
    background-color: #e5e5e5;
    float: left
}

.d-comment-picture-large-container2 {
    background-color: #fff;
    padding: 5px
}

.d-bottom-right {
    float: right
}

.arrow-border-up {
    width: 0;
    height: 0;
    border-width: 0 30px 30px;
    border-style: solid;
    border-color: transparent transparent #333;
    margin: 40px auto;
    position: relative
}

.arrow-border-up span {
    display: block;
    width: 0;
    height: 0;
    border-width: 0 28px 28px;
    border-style: solid;
    border-color: transparent transparent #fc0;
    position: absolute;
    top: 0;
    left: 0
}

.d-comment-item-no-content {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.nowprice {
    font-size: 30px;
    color: #F31A48
}

.sold {
    color: #999;
    font-weight: 60;
    vertical-align: middle;
    font-size: 17px;
}

.coupon-amount-icon {
    position: relative;
    border: 1px solid;
    height: 18px;
    color: #F31A48;
    display: inline-block;
    overflow: hidden;
    padding: 0 3px 0 21px;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 18px;
    margin-top: 3px;
}

.coupon-amount-icon .icon-left {
    position: absolute;
    width: 18px;
    height: 19px;
    font-size: 12px;
    text-align: center;
    background: #F31A48;
    color: #fff;
    left: 0;
    top: -1px;
}

.pic {
    position: relative;
    width: 100%;
}

.pic img {
    text-align: center;
}

.pic .price {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 0px solid black;
    z-index: 2;
    position: relative;
    border-radius: 168.667px;
    background-image: linear-gradient(to right, rgb(255, 102, 100), rgb(239, 51, 65));
    padding: 20.24px 50.6px 20.24px 43.8533px;
}

.item {
    margin-top: 10px;
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -moz-box-orient: horizontal;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 0;
    height: 210.347px;
    width: auto;
    background-color: rgb(250, 250, 250);
    padding: 3.37333px;
}

.item .imgs {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -moz-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    height: 203.6px;
    width: 203.6px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.item .detail {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -moz-box-orient: vertical;
    flex-direction: column;
    place-content: flex-start center;
    flex-shrink: 0;
    height: 203.6px;
    -moz-box-pack: center;
    padding-left: 40.48px;
    padding-right: 182.16px;
    padding-top: 20.24px;
    width: 650.44px;
}

.item .detail .des {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    font-size: 20.2267px;
    font-weight: 300;
    color: rgb(62, 62, 62);
    line-height: 30.84px;
    width: 557.8px;
    overflow: hidden;
}

.item .detail .priceDiv {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -moz-box-orient: horizontal;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 0;
    -moz-box-align: center;
    align-items: center;
    font-size: 47.2267px;
    line-height: 70.84px;
    padding-top: 33.7333px;
}

.item .detail .priceDiv .price {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: block;
    -moz-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    font-size: 47.2267px;
    line-height: 70.84px;
    font-weight: 300;
    color: rgb(255, 80, 0);
    margin-right: 18.5533px;
}

.item .detail .itemImg {
    border: 0px solid black;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    -moz-box-orient: vertical;
    flex-direction: column;
    place-content: flex-start center;
    flex-shrink: 0;
    width: 67.4667px;
    height: 67.4667px;
    top: 118.067px;
    border-radius: 67.4667px;
    background-color: rgb(255, 80, 0);
    -moz-box-pack: center;
    -moz-box-align: center;
    align-items: center;
    right: 10px;
}

.item .detail .itemImg .imgwh {
    display: flex;
    width: 23.6133px;
    height: 42.1667px;
}
