<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="{$title}">
<meta name="description" content="{$description}">
<title>{$title}</title>
<link rel="dns-prefetch" href="{$host}">
<link rel="stylesheet" href="/public/static/css/base.css">
<link rel="stylesheet" href="/public/static/css/index.css">
<script src="/public/static/js/jquery-3.2.1.min.js"></script>
</head>

<body>
{include file="../../public/header" /}
	<div id="container">
	<div style="text-align:center;height:50px; line-height:50px; background-color:#f11a60;font-size:25px;color:#FFFFFF;">
	复制标题或关键字查优惠券
	</div>
	<div class="search d1">
	  <form class="indexForm"  action="/index.php"  method="get">
	  <input type="text" name="q" placeholder="输入关键词查询淘宝优惠券">
	  <button type="submit"></button>
	  </form>
	</div>


</div>
{include file="../../public/footer" /}

</body>
</html>