<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="{$title}">
<meta name="description" content="{$description}">
<title>{$title}</title>
<link rel="dns-prefetch" href="https://guanjia.qq.com/">
<link rel="stylesheet" href="/public/static/image/base.css">
<link rel="stylesheet" href="/public/static/image/index.css">
<script src="/public/static/js/jquery-3.2.1.min.js"></script>
</head>

<body>
{include file="../../public/header" /}
	<div id="container">
	<div class="search bar1">
		<form>
			<input class="indexinput" type="text" placeholder="请输入您要搜索的内容...">
			
		</form>
	</div>


</div>
{include file="../../public/footer" /}

</body>
</html>