<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="更懂你的实时优惠播报站-让优惠触手可及">
<title>{$cate_name}</title>
<link rel="dns-prefetch" href="{$host}">
<link rel="stylesheet" href="/public/static/css/base.css">
<link rel="stylesheet" href="/public/static/css/item.css">
<script src="/public/static/js/jquery-3.2.1.min.js"></script>
<script src="/public/static/js/indexcate.js"></script>
</head>
<script>
var id={$indexCateId};
</script>
<body>
	<div class="container">
		<!--[if lte IE 7 ]>
    <div id="J_BrowserUpdate" class="browser-update">
    </div>
    <![endif]-->
		{include file="../../public/header" /}
		<div class="main" id="D-main">
			
		</div>
	</div>
	{include file="../../public/footer" /}


</body>
</html>